*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Title;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBold.otf);
}
@font-face {
    font-family: Title Light;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabLight.otf);
}

@font-face {
    font-family: Tekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Regular.otf);
}

@font-face {
    font-family: Title Regular;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabMedium.otf);
}

body,html{
    width: 100%;
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 30%;
    z-index:0;
}



.clearfix{
    clear:both;
}

.events ul {
    margin: auto;
    width: 80%;
    list-style-type: none;
    margin-top: 15px;
}

.events li{
    height: 100%;
}

.events .datum {
    font-family: Title;
    color: #a33534;
    font-size: 1em;
    line-height: 0.8em;
    float: left;
    padding-top: 5%;
}

.datum span {
    color: #a33534;
    font-size: 9.5vw;
    line-height: 0;
}

.infoSelected .icoon {
    width: 7%;
    display: inline;
    margin-right: 1%;
}
.infoNotSelected .icoon {
    width: 7%;
    display: inline;
    margin-right: 1%;
}

.events h3 {
    font-family: Title;
    
}

.selected{
    color: #6f2421;
    font-size: 1.1em;
    float: left;
    margin: 6% 0 5px;
}

.notSelected{
    font-size: 1em;
    
}

.eventInfo p {

    color: rgb(105, 103, 101);
    display: inline;
    font-size: 0.6em;
    margin-left: 5px;
    
}

.infoSelected p{
    display: inline;
}

.infoNotSelected p{
    display: inline;
}



.description{
    color: rgb(105, 103, 101);
    display: inline;
    font-size: 0.8em;
    margin-left: 5px;
    width: 64%;
    font-family: Title regular;
    
}

.events td{
    color: rgb(105, 103, 101);
    font-size: 0.7em;
    width: 40%;
    padding-right: 20px;
    padding-bottom: 8px;
    font-family: Title light;
    
}

.eventMaand{
    z-index: 1;
    background-color: #838081;
    position: absolute;
    top: 36%;
    opacity: 0.91;
    width: 100%;
    font-family: Title regular;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 2% 0 0.2%;
}

.eventPijl{
    z-index: 2;
    height: 19px;
}

.pijlLinks{
    float: left;
    margin-left: 5%;
}
.pijlRechts{
    float: right;
    margin-right: 5%;
}

 


.events .info {
    width: 100%;
    margin-bottom: 15px;
}

.infoSelected{
    clear:both;
}

.eventTime{
    display: none;
}

.eventPicture{
    max-width: 30%;
    float:left;
    margin: 6px 10px 0 0;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
}

.eventPictureNotSelected{
    float:left;
    max-width: 25%;
    margin: 6px 10px 0 0;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
}

.column{
    display: inline-block;
    height: auto;
}
.events .infoSelected table{
    padding-bottom: 5px;
    border-bottom: 1px dashed #999;
}

.events table{
     margin-bottom: 8%;
}
.infoNotSelected{
    width: 64%;
    float: right;
}


