*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Title;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBold.otf);
}

@font-face {
    font-family: Tekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Regular.otf);
}


body,html{
    width: 100%;
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 30%;
}



.clearfix{
    clear:both;
}

.events ul {
    margin: auto;
    width: 80%;
    list-style-type: none;
    margin-top: 15px;
}

.events li{
    height: 100px;
}

.events .datum {
    font-family: Title;
    color: #a33534;
    font-size: 1em;
    line-height: 0.8em;
    float: left;
    padding-top: 5%;
}

.datum span {
    color: #a33534;
    font-size: 9.5vw;
    line-height: 0;
}

.infoSelected .icoon {
    width: 7%;
    display: inline;
    margin-right: 1%;
}

.events h3 {
    font-family: Title;
    font-size: 1em;
    float: left;
    margin-bottom: 5px;
}

.selected{
    color: #6f2421;
}

.eventInfo p {

    color: rgb(105, 103, 101);
    display: inline;
    font-size: 0.6em;
    margin-left: 5px;
}

.infoSelected p{
    display: inline;
}

.description{
    color: rgb(105, 103, 101);
    display: inline;
    font-size: 0.8em;
    margin-left: 5px;
    width: 65%;
    font-family: Tekst;
    
}

.infoSelected td{
    color: rgb(105, 103, 101);
    font-size: 0.7em;
    width: 40%;
    padding-right: 20px;
    padding-bottom: 8px;
}


.events .info {
    width: 100%;
    margin-bottom: 15px;
}

.infoSelected{
    clear:both;
}

.eventTime{
    display: none;
}

.eventPicture{
    max-width: 30%;
    float:left;
    margin: 6px 10px 0 0;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
}

.column{
    display: inline-block;
    height: auto;
}
.events table{
    padding-bottom: 5px;
    border-bottom: 2px dashed #999;
}


