@font-face {
    font-family: Title;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBold.otf);
}

@font-face {
    font-family: Tekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Regular.otf);
}

* {
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
}

html,
body {
    font-family: Arial;
    max-width: 100%;
    overflow-x: hidden;
}

p {
    color: #696765;
}

#navWrapper {
    width: 100%;
    overflow-x: hidden;
    position:fixed;
}

.hoofdNav {
    background-color: #a33534;
    height: 60px;
}

.hoofdNav #logo {
    position: absolute;
    top: 0;
    left: 44%;
}

.homepageSliderWrapper {
    width: 100%;
    overflow: hidden;
}

.homepageSlider {
    width: 300%;
    position: relative;
    left: -100%;
}

.homepageSlide {
    float: left;
    display: inline-block;
    width: 33.333333%;
}

.events {
    position: relative;
}
/**********HOME**********/

.nav {
    background-color: rgb(105, 103, 101);
    height: 50px;
}

.nav a {
    color: white;
    font-size: 5.2vw;
}

.nav ul {
    width: 100%;
    margin-left: 34px;
}

.nav ul li {
    display: inline-block;
    padding: 15px 0 0 24px;
    list-style-type: none;
    font-family: Title;
}

.titelHome {
    font-size: 1.6em;
    text-align: center;
    color: #a33534;
    border-top: dashed 1px;
    border-bottom: dashed 1px;
    padding: 5px 0 2.5px 0;
    width: 80%;
    margin: 15px auto;
    font-family: Title;
}
/*****OVER*ONS*****/

.bever {
    width: 100%;
}

.overOns p {
    width: 80%;
    margin: auto;
    font-family: Tekst;
    font-size: 0.85em;
}
/*****EVENTS*****/

.events ul {
    margin: auto;
    width: 80%;
    list-style-type: none;
    margin-top: 30px;
}

.events .datum {
    font-family: Title;
    color: #a33534;
    font-size: 1em;
    line-height: 0.8em;
    float: left;
    padding-top: 5%;
}

.datum span {
    color: #a33534;
    font-size: 9.5vw;
    line-height: 0;
}

.events .icoon {
    width: 3%;
    margin-top: 1.5%;
}

.events h3 {
    color: rgb(105, 103, 101);
    font-size: 0.8em;
}

.events p {
    line-height: 1.5vw;
    color: rgb(105, 103, 101);
    display: inline;
    font-size: 0.6em;
    margin-left: 5px;
}

.events .info {
    float: right;
    width: 75%;
    border-left: dashed 1px;
    padding-left: 20px;
    margin-bottom: 30px;
}
/*****ACTUEEL*****/

.actueel {}

.actueel .info {
    margin-left: 100px;
}

.actueel ul {
    width: 80%;
    margin: auto;
    list-style-type: none;
}

.actueel li {
    margin-bottom: 40px;
}

.actueel img {
    width: 30%;
    float: left;
}

.actueel .icoon {
    width: 5%;
    margin-top: 3px;
}

.actueel h3 {
    color: rgb(105, 103, 101);
    font-size: 0.8em;
}

.actueel p {
    font-size: 0.6em;
    margin-top: 5px;
}

.actueel .datum {
    font-weight: bold;
    margin-top: -1px;
}