* {
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
}

@font-face {
    font-family: titel;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBook.otf);
}

@font-face {
    font-family: Title Light;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabLight.otf);
}

@font-face {
    font-family: Title;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBold.otf);
}

@font-face {
    font-family: Title Regular;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabMedium.otf);
}

@font-face {
    font-family: Tekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Regular.otf);
}

@font-face {
    font-family: thinTekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Thin.otf);
}

body,
html {
    width: 100%;
    height: 100%;
}

.clearFix {
    clear: both;
}
/*****NAV-NIEUWS*****/

.navNieuws {
    height: 50px;
    background-color: rgb(105, 103, 101);
}

.navNieuws ul li img {
    display: inline-block;
    width: 9%;
    margin-top: 8px;
    padding-left: 10px;
}

.navNieuws ul {
    list-style-type: none;
    margin-left: -40px;
    width: 100%;
}

.navNieuws ul li {
    display: inline;
    color: white;
    font-size: 1.6em;
    font-family: Title Regular;
    padding-left: 65px;
    padding-top: 10px;
}

.navNieuws ul li p {
    display: inline;
    margin-top: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
.datum ul {
    margin: auto;
    width: 80%;
    list-style-type: none;
    margin-top: 15px;
}

.datum li{
    height: 100%;
}

.datum li:first{
    height: 100%;
    border-bottom: 1px dashed #999;
    
}
.datum h3 {
    font-family: Title;
    
}

.datum .info {
    width: 100%;
    margin-bottom: 15px;
=======
.nieuws {
    width: 80%;
    margin: 15px auto;
    font-family: Tekst;
    color: rgb(105, 103, 101);
    font-size: 0.8em;
}

.nieuws ul {
    list-style-type: none;
>>>>>>> origin/master
}

.nieuws li {
    margin-bottom: 20px;
}

=======
.nieuws {
    width: 80%;
    margin: 15px auto;
    font-family: Tekst;
    color: rgb(105, 103, 101);
    font-size: 0.8em;
}

.nieuws ul {
    list-style-type: none;
}

.nieuws li {
    margin-bottom: 20px;
}

>>>>>>> origin/master
.nieuws img:nth-child(2) {
    float: left;
    margin-right: 15px;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
}

.nieuws h3 {
    font-family: Title;
    margin-bottom: 5px;
}

.nieuws .date {
    margin-bottom: 10px;
    color: rgb(105, 103, 101);
    font-size: 0.9em;
}

.nieuws .selected {
    border-bottom: #6f2421 2px dashed;
    padding-bottom: 10px;
}

.nieuws .selected h3 {
    color: #6f2421;
}

<<<<<<< HEAD
<<<<<<< HEAD
.datum td{
    color: rgb(105, 103, 101);
    font-size: 0.8em;
    width: 40%;
    padding-right: 20px;
    padding-bottom: 8px;
    font-family: Title light;
    
}

.datum table{
    width: 100%;
}

.datum .infoSelected table{
    border-bottom: 1px dashed #999;
    margin-bottom: 15px;
}

.nieuwsPictureNotSelected{
    float:left;
    max-width: 25%;
    margin: 6px 10px 0 0;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
=======
.nieuws .selected img {
    width: 35%;
}

.nieuws .selected .readMore {
    display: none;
}

.nieuws .notSelected {
    float: none;
}

.nieuws .notSelected img {
    width: 20%;
>>>>>>> origin/master
}

.nieuws .notSelected h3 {
    color: black;
    float: right;
    width: 70%;
}

<<<<<<< HEAD
.infoNotSelected .leesMeer{
    display: inline;
    color: #6f2421;
    font-size: 0.9em;
}
.notSelected{
    font-size: 1em;
    color: #6f2421;
    
=======
.nieuws .notSelected .description {
    display: none;
>>>>>>> origin/master
=======
.nieuws .selected img {
    width: 35%;
}

.nieuws .selected .readMore {
    display: none;
}

.nieuws .notSelected {
    float: none;
}

.nieuws .notSelected img {
    width: 20%;
}

.nieuws .notSelected h3 {
    color: black;
    float: right;
    width: 70%;
}

.nieuws .notSelected .description {
    display: none;
>>>>>>> origin/master
}

.nieuws .notSelected .date {
    float: right;
    width: 70%;
    margin-bottom: 0px;
<<<<<<< HEAD
}

.nieuws .notSelected .readMore {
    float: right;
    width: 70%;
}

<<<<<<< HEAD
.titelMaand {
    font-size: 1.6em;
    text-align: center;
    color: #a33534;
    border-top: dashed 1px;
    border-bottom: dashed 1px;
    padding: 5px 0 2.5px 0;
    width: 80%;
    margin: 15px auto;
    font-family: Title;
}

.alles ul {
    margin: auto;
    width: 80%;
    list-style-type: none;
    margin-top: 15px;
}

.alles li{
    height: 100%;
}

.alles li:first{
    height: 100%;
    border-bottom: 1px dashed #999;
    
}
.alles h3 {
    font-family: Title;
    
}

.alles .info {
    width: 100%;
    margin-bottom: 15px;
}

.alles td{
    color: rgb(105, 103, 101);
    font-size: 0.8em;
    width: 40%;
    padding-right: 20px;
    padding-bottom: 8px;
    font-family: Title light;
    
}

.alles table{
    width: 71%;
}

.alles .infoSelected table{
    border-bottom: 1px dashed #999;
    margin-bottom: 15px;
}

.datum ul .maand {
    margin: auto;
    width: 80%;
    list-style-type: none;
    margin-top: 15px;
}

=======
.nieuws .date img {
    width: 7%;
    padding-right: 10px;
}
>>>>>>> origin/master
=======
}

.nieuws .notSelected .readMore {
    float: right;
    width: 70%;
}

.nieuws .date img {
    width: 7%;
    padding-right: 10px;
}
>>>>>>> origin/master
