* {
  margin: 0;
  padding: 0;
}

.clearfix {
    clear: both;
}

@font-face {
    font-family: titel;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBook.otf);
}

@font-face {
    font-family: Title Light;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabLight.otf);
}

@font-face {
    font-family: Title;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBold.otf);
}
@font-face {
    font-family: Title Regular;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabMedium.otf);
}

@font-face {
    font-family: Tekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Regular.otf);
}

@font-face {
    font-family: thinTekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Thin.otf);
}

body,html{
    width: 100%;
    height: 100%;
}

.hoofdNav {
    background-color: #a33534;
    height: 60px;
}

/*****NAV-NIEUWS*****/

.navNieuws {
  height: 50px;
  background-color: rgb(105, 103, 101);
}

.navNieuws ul li img {
    display: inline-block;
    width: 9%;
    margin-top: 8px;
    padding-left: 10px;
}

.navNieuws ul {
  list-style-type: none;
    margin-left: -40px;
    width: 100%;
}

.navNieuws ul li {
 display: inline;
  color: white;
  font-size: 1.6em;
  font-family: Title Regular;
  padding-left: 65px;
    padding-top: 10px;
}

.navNieuws ul li p {
    display: inline;
    margin-top: 0;

}

.alles ul {
    margin: auto;
    width: 80%;
    list-style-type: none;
    margin-top: 15px;
}

.alles li{
    height: 100%;
}

.alles li:first{
    height: 100%;
    border-bottom: 1px dashed #999;
    
}
.alles h3 {
    font-family: Title;
    
}

.alles .info {
    width: 100%;
    margin-bottom: 15px;
}

.description{
    color: rgb(105, 103, 101);
    display: inline;
    font-size: 0.8em;
    margin-left: 5px;
    width: 64%;
    font-family: Tekst;
    
}

.selected{
    color: #6f2421;
    font-size: 1.1em;
    float: left;
    margin: 6% 0 5px;
}

.nieuwsPicture{
    max-width: 30%;
    float:left;
    margin: 6px 10px 0 0;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.4);
}
.column{
    display: inline-block;
    height: auto;
}

.infoSelected{
    clear:both;
}

.info p{
    display: inline;
    
}

.info .kalender {
        color: rgb(105, 103, 101);
    font-size: 0.8em;
    width: 40%;
    padding-right: 20px;
    padding-bottom: 8px;
    font-family: Title light;
    
}

.info .icoon {
    width: 4%;
    display: inline;
    margin-right: 1%;
}

.alles td{
    color: rgb(105, 103, 101);
    font-size: 0.8em;
    width: 40%;
    padding-right: 20px;
    padding-bottom: 8px;
    font-family: Title light;
    
}

.alles table{
    width: 100%;
}

.alles .infoSelected table{
    border-bottom: 1px dashed #999;
    margin-bottom: 15px;
}

.nieuwsPictureNotSelected{
    float:left;
    max-width: 25%;
    margin: 6px 10px 0 0;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 6px 1px rgba(50, 50, 50, 0.75);
}

.infoNotSelected p{
    display: inline;
    font-size: 0.9em;
}

.infoNotSelected .leesMeer{
    display: inline;
    color: #6f2421;
    font-size: 0.9em;
}
.notSelected{
    font-size: 1em;
    
}

.infoNotSelected table {
    margin-left: 0;
    width: 71%;
}

.infoNotSelected .icoon {
    width: 6%;
    display: inline;
    margin-right: 1%;
    margin-top: 14px;
}
