@font-face {
    font-family: Title;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBold.otf);
}
@font-face {
    font-family: Tekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Regular.otf);
}

*{
margin: 0;
padding: 0;
}

body {
  font-family: Arial;
  width: 100vw;

}

.hoofdNav {
  background-color: #a33534;
  height: 60px;
}

/**********HOME**********/

.nav {
  background-color: rgb(105,103,101);
  height: 50px;
}

.nav a {
  color: white;
  font-size: 5.2vw;  
}

.nav ul li {
  display: inline-block;
  padding: 15px 0 0 40px;
  list-style-type: none;
  font-family: Title;
}

.titelHome {
  font-size: 7vw;
  text-align: center;
  color: #a33534;
  border-top: dashed 0.5vw;
  border-bottom: dashed 0.5vw;
  padding: 1.5vw;
  width: 70vw;
  margin: 3vw auto;
  font-family: Title;
}



/*****OVER*ONS*****/
.bever {
  width: 100vw;
}

.overOns p {
  width: 70vw;
  margin: auto;
  font-family: Tekst;
  font-size: 2.5vw;
}

/*****EVENTS*****/

.events ul {
  width: 70vw;
  margin: auto;
  margin-top: 5vw;
  list-style-type: none;
}

.datum {
  font-family: Title;
  color: #a33534;
  font-size: 5vw;
  line-height: 4vw;
  float: left;
  padding-top: 2vw;
}

.datum span {
  color: #a33534;
  font-size: 9.5vw;
  line-height: 0;
}

.events img {
  width: 3vw;
  margin-top: 1.5vw;
}

.events h3 {
  color: rgb(105,103,101);
  font-size: 3vw;
}

.events p {
  line-height: 1.5vw;
  color: rgb(105,103,101);
  display: inline;
  font-size: 2vw;
  margin-left: 2vw;
}
.events ul li p:first-child {
  background-color: red;
}

.info {
  margin-top: -18px;
  float: right;
  width: 75%;
  border-left: dashed 2px;
  padding-left: 40px;
}


footer {
  width: 100%;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 3000px;
}




