@font-face {
    font-family: Title;
    src: url(../Fonts/KlinicSlab_Personal_License_Titel/KlinicSlabBold.otf);
}
@font-face {
    font-family: Tekst;
    src: url(../Fonts/MissionGothic_Personal_License_Tekst/Mission%20Gothic%20Regular.otf);
}

*{
margin: 0;
padding: 0;
}

body {
  font-family: Arial;
  font-size: 30px;
  width:100vw;

}

.hoofdNav {
  background-color: #a33534;
  height: 20vw;
}

/**********HOME**********/

.nav {
  background-color: rgb(105,103,101);
  height: 15vw;
}

.nav a {
  color: white;
  font-size: 5.2vw;  
}

.nav ul li {
  display: inline-block;
  padding: 5vw 0 0 11.5vw;
  list-style-type: none;
  font-family: Title;
}

.titelHome {
  font-size: 7vw;
  text-align: center;
  color: #a33534;
  border-top: dashed 0.5vw;
  border-bottom: dashed 0.5vw;
  padding: 1.5vw;
  width: 70%;
  margin: 40px auto;
  font-family: Title;
}



/*****OVER*ONS*****/
.bever {
  width: 100%;
}

.overOns p {
  padding-top: 20px;
  width: 77%;
  margin: auto;
  font-family: Tekst;
}

/*****EVENTS*****/

.events ul {
  width: 75%;
  margin: auto;
  margin-top: 80px;
  list-style-type: none;
}

.datum {
  font-family: Title;
  color: #a33534;
  font-size: 2em;
  line-height:0.8em;
  float: left;
  padding-top: 43px;
}

.datum span {
  color: #a33534;
  font-size: 1.8em;
  line-height: 0;
}
.events h3 {
  color: rgb(105,103,101);
}
.events img {
  width: 5%
}

.events p {
  width: 30px;
  height: 300px;;
  color: rgb(105,103,101);
  display: inline;
  
}

.info {
  margin-top: -18px;
  float: right;
  width: 75%;
  border-left: dashed 2px;
  padding-left: 40px;
}


footer {
  width: 100%;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 3000px;
}




